/* @media only screen and (min-width: 1700px) and (max-width: 2499px) */

/* .topheader{ */
/*     margin: 55px 0 45px 0; */
/* } */
.img-responsive {
	width: 80%;
    min-height: 40em;
    margin: auto;
    border: solid 2px #000;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* img { */
/*     vertical-align: middle; */
/* } */
/* img { */
/*     border: 0; */
/* } */
/* * { */
/*     -webkit-box-sizing: border-box; */
/*     -moz-box-sizing: border-box; */
/*     box-sizing: border-box; */
/* } */

/* user agent stylesheet */
/* img { */
/*     overflow-clip-margin: content-box; */
/*     overflow: clip; */
/* } */