<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/home.css">
<script src="https://kit.fontawesome.com/f09b2e2e32.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f09b2e2e32.js" crossorigin="anonymous"></script>
</head>
<body>


	<div class="topnav" id="myTopnav">
		<a href=""><i class="fa-regular fa-house"></i></a>
		<a href="#home" class="active">Home</a> 
		<a href="#news">News</a> <a href="#contact">Contact</a> 
		<a id="left-nav" href="#about"><i class="fa-thin fa-envelope"></i></a>
		<a id="left-nav" href="#about">Call</a> 
		<a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class="fa fa-bars"></i>
		</a>
	</div>

	<div style="padding-left: 16px">
		<h2>Responsive Topnav Example</h2>
		<p>Resize the browser window to see how it works.</p>
	</div>

	<img width="500" height="500" src="/logo.png">

</body>	
</html>